.MovieSchedule {
    .header {
        border-bottom: 1px solid #ddd;

        &-logo {
            background-image: url(../images/logo.jpg);
            height: 50px;
            width: 100px;
            background-position: center;
            background-size: cover;
        }
    }

    .body {
        background-image: url(../images/bg_cgv.jpg);
        height: 100vh;
        background-position: center;
        background-size: cover;
        position: relative;

        &-modal {
            background-color: #301a1a96;
            height: 60%;
            width: 60%;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-bottom: 1px solid #000;
            position: absolute;
            border-radius: 5px;
        }

        .btn {
            &-time {
                margin: 5px 5px 5px 0;
            }

            &-slide {
                position: absolute;
                border-color: transparent;
                color: #fff;
                padding: 50px 0;
                background-color: #301a1a88;
                font-size: 50px;
                &__left {
                    top: 50%;
                    left: 16%
                }

                &__right {
                    top: 50%;
                    right: 16%;
                }
                &:hover {
                    background-color: #160c0cd2;
                }
            }
        }
    }

}

.text-grey {
    color: rgba(#fff, 0.6);
}

.text-grey-light {
    color: rgba(#fff, 0.9);
}